.btn {
  position: relative;
  padding: 10px 15px;
  background-color: #e49844;
  border: none;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: #e49844;
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.btn.active {
  background-color: #e49844;
  border: 1px solid #e49844;
  box-shadow: 0px 0 2px 0px #C0C0C0;
}

.btn.invert {
  background-color: #FFF;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
