.headerWrapper{
    display: flex;
    flex-direction: column;
}
.firstHeader{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2
}
.secondHeader{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #999999;
   
}
.navBar{
    width: 60%;
    margin: 0 0 15px 10%;
    
    display: flex;
    justify-content: space-between;

}
.logo{
    margin-left: 10%;
    margin-bottom: 20px;
    height: 80%;
    
}

  .links{
    cursor: pointer;
    display: flex
  }

  .thirdHeader{

    color: #999999;
    display: flex;
    
    
}
  .infoNav{
    margin-left: 10%; 
    display: flex;
    margin: 20px 0 0 10%
}

@media screen and (max-width: 800px){
  .navBar{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 0 0 0;
  }
  .secondHeader{
    height: 110px;
    align-items: center;
    justify-content: center;

  }
}
@media screen and (max-width: 480px){
  .infoNav{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 0 0 0;
  }
  .thirdHeader{
    height: 110px;
    align-items: center;
  }
}
.navigationLink a {
  color: #999999;
  text-decoration: none;
}

.navigationLinkTop a {
  color: black;
  text-decoration: none;
}
.infoEntrance{
  cursor: pointer;
  margin-right: 10%;
  /* margin: -2px -3px -2px -3px; */
}
.infoEntranceDetail{
  display:none;
  margin-left: 30px;
  padding:10px;
  /* margin-top: 300px; */
  background:#f3f3f3;
  height:20px;
  -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
}
.infoEntrance:hover .infoEntranceDetail{
  display:block;
  position:absolute;
  top:50px;
  right: 150px;
  z-index:2;
  width:200px;
}

.autorizedHeader{
  display: flex;
  width: 30%;
  margin-right: 10%;
  justify-content: space-between;
  align-items: center;
}
