.tablestyle{
  border-collapse: collapse;
  font-size: 12px;  
}


.infoCell{
    cursor: pointer;
    width: 15px
  }


table {
  position: relative;
  width: 1200px;
  overflow: hidden;
  
}
thead {
  position: relative;
  display: block;
  width: 400px;
  overflow: visible;
}

tbody {
  position: relative;
  display: block;
  width: 1200px;
  height: 350px;
  overflow: scroll;
}
tbody td {
  min-width: 9px;
}
tbody tr td:nth-child(1) {
  width: 119px;
  position: relative;
  display: block;
}