.tablestyle{
  border-collapse: collapse;
  font-size: 12px;
}


.infoCell{
    cursor: pointer;
    margin: -2px -3px -2px -3px;
  }
  .infoCellDetail{
    display:none;
    margin-left:-200px;
    padding:10px;
    margin-top: 300px;
    background:#f3f3f3;
    height:10px;
    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);
  }
  .infoCell:hover .infoCellDetail{
    display:block;
    position:absolute;
    top:0px;
    z-index:2;
    width:200px;
  }